.padding50 {
    padding: 50px;
}

.card {
    text-align: center;
}


.card-text {
    font-weight: bold;
}

.card img {
    max-width: 100%;
    height: auto;
}

.col {
    padding: 10px;
}

.container {
    display: flex;
}

.imageFlexContainer {
    display: flex;
}
