* {
    box-sizing: border-box;
    /* border: 1px solid red; */
}

/* Common styles */

.padLeft30 {
    padding-left: 30px;
}

.paddingLeft10 {
    padding-left: 10px;
}

.padRight20 {
    padding-right: 20px;
}

.pagenum {
    display: flex;
    width: 100%;
}

.replyButton {
    display: flex;
    width: 100%;
    justify-content: flex-end;
    align-items: center;
    padding-right: 50px;
    padding-bottom: 20px;
}


.posting {
    display: flex;
    align-items: center;
    padding-bottom: 30px;
}


.posting img {
    width: 30%;

}

.card {
    align-items: center;
    justify-content: center;
    height: 200px;
    width: 200px;

}

.textarea {
    height: 170px;
    align-items: top;
    margin-bottom: 0;
    border: 1px solid lightgray;
    border-radius: 10px;

}

.postingtext {
    border: 1px solid grey;
    border-radius: 10px;
}

.commenticon {
    border: 1pz solid red;
    display: flex;
    justify-content: flex-end;
    width: 100%;

}

.commenticon img {
    width: 20px;
    padding-right: 5px;
}

.commentsection {
    display: flex;
}

/* New */
.align-right {
    display: flex;
    justify-content: flex-end;
    padding-left: 10px;
}

.post-button {
    width: auto;
}

.postgroup {
    max-height:200px;
}

.d-grid {
    padding-left: 20px;
    padding-right: 50px;
    padding-bottom: 20px;
    
}

.mobilenavi {
    display: none;
}

.mobileReply {
    display: none;
}


@media screen and (max-width: 768px) {

    .full-screen {
        display: none;
    }

    .replyButton {
        display: none;
    }

    .mobileReply {
        display:grid;
        justify-content: center;
        padding-left: 20px;
        padding-right: 50px;
        padding-bottom: 20px;
        width: 100%;
    }

    .mobilenavi {
        display: block;
    }

}